<!--<p>
  lead works!
  
</p>-->

    <!--Id: (lead.id) sorce:(lead:sorce)-->
    <span >Id: {{lead.id}}, Sorce {{lead.sorce}} </span>
<span *ngIf = "isEdit" >Id: <input type="text" [(ngModel)] = "lead.id"> sorce: <input type="text" [(ngModel)] = "lead.sorce"></span>
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 

 