<h2>Add Lead</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="id">id</label>
    <input type="text"
            class="form-control"
            id="id"
            name = "id"
            required
            [(ngModel)] = "lead.id" >
           
           



  </div>
  <div class="form-group">
    <label for="sorce">Sorce</label>
    <input type="text"
            class="form-control"
            id="sorce"
            name ="sorce"
            required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            [(ngModel)]="lead.sorce">
              <!--#sorce="ngModel">-->
      <!--<div *ngIf="!sorce.valid">
        Invalid sorce
  </div>-->
  <!--<div class="form-group">
    <label for="lead">User</label>
    <input type="text"
            class="form-control"
            id="user"
            name ="user"
            required
            [(ngModel)]="lead.user">-->

          

  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>