<h1>List of leads</h1>
<ul>
  <li *ngFor = "let c of leads">
    {{ c.id }}
   </li>

   <li *ngFor = "let c of leads">
    {{ c.sorce }}
   </li>

</ul>   

<!--<h1>List of posts</h1>
<ul>
  <li *ngFor = "let c of posts">
    {{ c.body }}
   </li>

   <li *ngFor = "let c of posts">
    {{ c.title }}
   </li>

</ul>   -->



<!--<table>   here i put the data in a html table but i need to chaing the LI that makes it shown in a line 
<tr>
    <th>title</th>
    <th>body</th>
</tr>

    <tr>
      <li *ngFor = "let c of posts">
    {{ c.title }}
   </li>

   </tr>
         <tr>

               <li *ngFor = "let c of posts">
                {{ c.body }}
               </li>
          </tr>


    </table>--> 