<h1>
  {{title}}

</h1>

<nav>
  <a routerLink="/users" routerLinkActive="active" >Users</a> | 
<!--Add a comment to this line-->
  <a routerLink="/posts" routerLinkActive="active">Posts</a> |
   <a routerLink="/fire" routerLinkActive="active">Firebase test</a> |
    <a routerLink="/leads" routerLinkActive="active" >Leads</a>
</nav>

<!--here we choose what to show like post or rout for moltibule choice -->

<!--<app-posts></app-posts> -->


<router-outlet></router-outlet>
<!-- Routed views go here --> 


