<p>
<span  *ngIf = "!isEdit">Title: {{post.title}}, Body: {{post.body}}</span>
<span *ngIf = "isEdit" >Title: <input type="text" [(ngModel)] = "post.title"> Body: <input type="text" [(ngModel)] = "post.body"></span>
<!--<button (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button>-->


<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 


</p>
