<div>



    <app-post-form (postAddedEvent) = "addPost($event)"></app-post-form>
  <h3>posts list </h3>

  <ul class="list-group posts">
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
  

  <li class="list-group-item" *ngFor = "let post of posts"  
   [class.active]="currentPost == post"


   (click)="select(post)">

<app-post [post] = post (deleteEvent) = "deletePost($event)"
                        (editEvent) = "editPost($event)"></app-post>

<!--this is my work can be problim -->
                        <ul>
                          <li *ngFor ="let user of post.posUsers ">

                            <!--פה הבעיה האם צריך להיות טיטל -->
                              {{(name | async)?.name}}
                          </li>
                        </ul>

                        <!--in till hrer-->


   </li>
 </ul>
</div>
