<div>
  <jce-lead-form (leadAddedEvent) = "addLead($event)"></jce-lead-form>
  <h3>Leads list:</h3>

  
  
  <!--ading the loding -->
   <!--<app-spinner [visible] = "isLoading"></app-spinner>-->
 
  <ul class="list-group leads" >
    <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
    <!--the click is for choosing a spesific lead togethar with the code in ts -->
        <li class="list-group-item" *ngFor = "let lead of leads" [class.active]= "currentLead == lead "
        (click)="select(lead)" >
<!--leting the leads to be shown. the right place is in the html file -->
            <!--Id: {{lead.id}}, Sorce {{lead.sorce}}  -->
            <br>  
            <jce-lead [lead] = lead  (deleteEvent) = "deleteLead($event)" (editEvent) = "editlead($event)"></jce-lead>       
        </li>

         <li class="list-group-item" *ngFor = "let c of leads  "[class.active]= "currentLead == lead "
        (click)="select(lead)" >
         {{ c.id }}, {{ c.sorce }}
   </li>
  </ul>
</div>